{{ $name := (print (strings.TrimRight ". " (.Get "name")) ".") }}
{{ $authors := (print (strings.TrimRight ". " (.Get "authors")) ".") }}
{{ $venue := (print (strings.TrimRight ". " (.Get "venue")) ".") }}
{{ $date := (print (strings.TrimRight ". " (.Get "date")) ".") }}
{{ $notes := (print (strings.TrimRight ". " (.Get "notes")) ".") }}
<div class="publication">
{{ with .Get "name"}} <strong>{{ $name }}</strong>{{ end }}
{{ with .Get "authors"}} {{$authors | markdownify }}{{ end }}
{{ with .Get "venue"}} <em>{{ $venue }}</em>{{ end }}
{{ with .Get "date"}} {{ $date }}{{ end }}
{{ with .Get "url"}} [<a href="{{.}}" target="_blank">paper</a>]{{ end }}{{ with .Get "software"}} [<a href="{{.}}" target="_blank">software</a>]{{ end }}{{ with .Get "data"}} [<a href="{{.}}" target="_blank">data</a>]{{ end }}{{ with .Get "preprint"}} [<a href="{{.}}" target="_blank">preprint</a>]{{ end }}{{ with .Get "fulltext"}} [<a href="{{.}}" target="_blank">full-text</a>]{{ end }}
{{ with .Get "notes"}} <br><em>{{ $notes }}</em>{{ end }}
</div>