{{ $method := .Get "method" }}
{{ $plot := .Get "plot" }}

<div id="{{ $method }}_{{ $plot }}"></div>

<script>
    (function (vegaEmbed) {
        function showError(el, error) {
            el.innerHTML = ('<div class="error" style="color:red;">'
                + '<p>JavaScript Error: ' + error.message + '</p>'
                + "<p>This usually means there's a typo in your chart specification. "
                + "See the javascript console for the full traceback.</p>"
                + '</div>');
            throw error;
        }

        const el = document.getElementById('{{ $method }}_{{ $plot }}');
        vegaEmbed("#{{ $method }}_{{ $plot }}", '{{ .Site.BaseURL }}json/{{ .Get "method" }}/{{ .Get "plot" }}.json', {"mode": "vega-lite"})
            .catch(error => showError(el, error));
    })(vegaEmbed);
</script>
